.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 4rem 8rem;

}
.italic-blue{
  font-style: italic;
  color:rgb(90, 155, 211)
}

.education-content::after {
  content: "";
  display: inline-block;
  width: 100%;
}
h1 {
  padding: 2rem;
  font-size: 5rem;
  /* color: red; */
}

h2 {
  font-size: 2.5rem;
  /* display: flex; */
  text-decoration: underline;
}

p {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
}




@media screen and (max-width: 768px) {
  .education-container {
    margin: 2rem 2rem; /* Adjust margins for smaller screens */
  }

}
